@import url('https://fonts.googleapis.com/css?family=Sacramento');

.form-search{width: 100%}
.fa-trash{color:white}
.label-file {border: 1px solid #ccc;display: inline-block;padding: 6px 12px;cursor: pointer;}
.label-file:hover {color: #25a5c4;}
.buttons-html5, .buttons-print{
    color: #fff !important;
    border: none !important;
    background-color: #25a5c4 !important;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
}
#sk_guide_attachment, #sk_userbundle_user_imgUrl {display: none;}

@media screen and (max-width: 600px){
    .kl-action-button-bloc{
        display:flex;
    }
    .kl-action-button-bloc a{
        margin: 5px;
    }
    .dt-buttons{
        display: flex;
    }
    .dt-button{
        margin: 10px;
    }
    .sk-coll-img{
        display: none!important;
    }

    .box-footer .btn{
        float: none!important;
        display: block;
        width: 100% !important;
    }
    .label-file{
        width: 100%!important;
    }
}

/*Scrollbar design*/
::-webkit-scrollbar{
    width: 5px;
    background-color: #F2F3F7;
}
::-webkit-scrollbar-thumb{
    background-color: #2e59d9;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.sk-pdp{
    width: 50px;
    height: 50px!important;
    border-radius: 50%
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/**
WIP DESIGN
 */
.sidebar .nav-item:hover {
    background-color: #36b9cc;
}

.sidebar .nav-item.active {
    background-color: #36b9cc;
    color: white;
}
.sidebar .nav-link.active {
    background-color: #36b9cc;
    color: white;
}
/**
Fiche etudiant
 */
.container .panel-body h2.title-info{
    color: #fff;
    background-color: #4b4b4b;

    -moz-box-shadow: 0 5px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    padding: 8px;
}
.container .panel .center {
    overflow: hidden;
}
.container .panel .center img {
    float: left;
    margin-left: 20px;
}
.container .panel .center span {
    float: left;
    font-size: 16px;
}
.container .panel .center h2 {
    float: left;
    margin-left: 20px;
    font-size: 32px;
}
.container .panel .center a.print{
    float: right;
    margin: 45px 25px 0px 0px;
    font-size: 24px;
    padding-top: 5px;
}