<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 info" data-aos="fade-up">
                        <i class="bx bx-map"></i>
                        <h4>Adresse</h4>
                        <p>Tanà 101 Madagascar</p>
                    </div>
                    <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-phone"></i>
                        <h4>Téléphone</h4>
                        <p>+261 32 94 730 33</p>
                    </div>
                    <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-envelope"></i>
                        <h4>Email</h4>
                        <p>sekoliko.mada@gmail.com</p>
                    </div>
                    <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-time-five"></i>
                        <h4>Heure d'ouverture</h4>
                        <p>7J / 7J</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form action="#" method="post" role="form" id="contact-email-form" class="php-email-form sekoliko-email" data-aos="fade-up">
                    <div class="form-group">
                        <input placeholder="Votre nom"
                               type="text"
                               name="name"
                               class="form-control"
                               id="name"
                               data-rule="minlen:4"
                               data-msg="Please enter at least 4 chars" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input
                                placeholder="Votre email"
                                type="email"
                                class="form-control"
                                name="email"
                                id="email"
                                data-rule="email"
                                data-msg="Please enter a valid email" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input
                                placeholder="Sujet"
                                type="text"
                                class="form-control"
                                name="subject"
                                id="subject"
                                data-rule="minlen:4"
                                data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea
                                placeholder="Votre message"
                                class="form-control"
                                name="message"
                                rows="5"
                                id="message"
                                data-rule="required"
                                data-msg="Please write something for us">
                        </textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="send-email" class="d-block w-100" data-url="{{ path('send_contact_email') }}">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
