<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="py-4 text-center">
        <div class="copyright w-100 m-auto text-center d-block">
            &copy; Copyright <strong><span>Sekoliko <script>document.write((new Date()).getFullYear())</script></span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->
