<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div>
                    <h1>Sekoliko</h1>
                    <h2>Pour la numérisation de votre etablissement gratuit mais en toute sécurité.</h2>
                    <a href="{{ path('new_organisation') }}" class="download-btn"><i class="bx bxs-add-to-queue"></i> Nouveau</a>
                    <a href="{{ path('app_login') }}" class="download-btn"><i class="bx bxs-school"></i> Mon espace</a>
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                <img src="{{ asset('images/front/sekoliko_accueil.png') }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
