{% form_theme form 'form/custom_fields.html.twig' %}

{{ form_start(form,{"attr":{"id":"formNiveau"}}) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.niveauNom) }}
            {#<div class="custom-control custom-checkbox">#}
                {#<input type="checkbox" class="custom-control-input" id="customCheck"  name="classe">#}
                {#<label class="custom-control-label" for="customCheck">Ajouter des classes pour ce niveau ? </label>#}
            {#</div>#}
        </div>
    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary float-right" id="addNiveau" value="Enregistrer" name="new_niveau"/>
        <a data-dismiss="modal"
           class="btn btn-google">
            Annuler
        </a>
    </div>
{{ form_end(form) }}