{# User history #}

{% extends 'admin/_base_admin.html.twig' %}
{% set menu_section = true %}
{% block title %}Historique{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="alert-info d-block text-center">
                    <h4>Historique du {{ user.nom }}</h4>
                </div>
                <ul>
                    {% for history in histories %}
                        <li>{{ history.user.nom }} - {{ history.action }} par {{ history.userAct.nom }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}