{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error is defined %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form class="user" action="{{ path('fos_user_security_check') }}" method="post" id="login-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <div class="form-group">
            <input type="text" name="_username" id="username" class="form-control form-control-user"
                   aria-describedby="emailHelp" placeholder="Entrer votre adresse e-mail ou nom d'utilisateur">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" name="_password" id="password"
                   placeholder="Mot de passe">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Se souvenir de moi</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-user btn-block" id="login-form-submit">
            Se connecter
        </button>
        <hr>
        <div class="text-center">
            <a class="small" href="{{ path('sk_resetting_password') }}">Mot de passe oublié?</a>
        </div>
    </form>
{% endblock %}

	

