{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Mot de passe oublié {% endblock %}

{% block fos_user_content %}
    <form method="post" action="{{ path('sk_resetting_password') }}" id="login-form">
        <div class="form-group has-feedback">
            <input required type="email" class="form-control" placeholder="Votre adresse email"
                   name="user-email" value="" id="username"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-flat" id="login-form-submit">
            Envoyer
        </button>
        <div class="form-group has-feedback">
            <div class="pull-left">
                <a href="{{ path('sk_login') }}">
                    Retour à la page connexion
                </a>
            </div>
        </div>
    </form>
{% endblock %}
