{# Manage student section #}

{% extends 'admin/_base_admin.html.twig' %}
{% set menu_student = true %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="bgc-white bd bdrs-3 p-20 mB-20"><h4 class="c-grey-900 mB-20">Gestion des étudiants</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Enregistrer">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}