{# Manage emploie du temps #}

{% extends 'admin/_base_admin.html.twig' %}
{% set menu_section = true %}
{% block title %}Emploi du temps{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="bgc-white bd bdrs-3 p-20 mB-20"><h4 class="c-grey-900 mB-20">Gestion emploie du temps</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="col-md-12 d-block">
                    <a href="{{ path('list_edt',{"id": class.id}) }}" class="btn btn-warning">Annuler</a>
                    <input type="submit" class="btn btn-primary float-right" value="Enregistrer">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
