*{
  font-family: 'Montserrat', sans-serif;
}
$sk_base_color: #1f0a3b;
.sk-btn-login {
  background: $sk_base_color!important;
  border-color: $sk_base_color!important;

  &:hover {
    background: $sk_base_color!important;
    border-color: $sk_base_color!important;
  }
}

body {
  background: $sk_base_color!important;
}

.login-card {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  border-radius: 2%
}

.login-image {
  width: 100px;
  height: 100px
}