$sk_base_color: #1f0a3b;

.sidebar {
  background-color: $sk_base_color !important;
  color: white!important;
}

.sidebar-menu li a,.logo-text {
  color: white!important;
}

.logo img{
  border-radius: 50%;
  border: solid 2px white;
  margin-top: 12%;
  width: 50px;
  height: 50px;
}