<!--==========================
  Footer
============================-->
<footer id="footer"  style="background: black">
    <div class="footer-top"  style="background: black">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Sekoliko</h3>
                    <p>Sekoliko est une application gratuits et opensource pour la gestion d'un établissement.</p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Lien utile</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">Apropos du sekoliko</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contactez-nous</h4>
                    <p>
                        Sekoliko Mada
                        Antananarivo 101<br>
                        <strong>Phone:</strong> +261 32 94 730 33<br>
                        <strong>Email:</strong> sekoliko.madagascar@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Très bientot sur Sekoliko.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="copyright">
            &copy; Powered by <strong>Sekoliko Team</strong>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>