<!--==========================
  Footer
============================-->
<footer id="footer"  style="background: black">
    <div class="container-fluid">
        <div class="copyright">
            <strong>©
                <script>document.write((new Date()).getFullYear())</script> Sekoliko, tous droits réservés</strong>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>