{% extends 'admin/admin.html.twig' %}

{% block title %} {{ parent() }} Erreur 500 {% endblock %}

{% block body %}
    <div class="container">
        <div class="list-count text-center kl-title-bloc">
            <h1 class="display-1">500</h1>
        </div>
        <div class="text-center">
            <p>Désolé, une erreur est survenue ! essayer d'aller vers la page <a href="/login">login</a> </p>
            <p>Ce n'est pas normal? envoyer nous une issues vers <a href="https://github.com/julkwel/sekoliko/issues" target="_blank">Sekoliko</a></p>
        </div>
    </div>
{% endblock %}