{# List school year #}

{% extends 'admin/_base_admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20"><h4 class="c-grey-900 mB-20">Liste des années scolaires</h4>
                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Début </th>
                        <th>Fin</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Début </th>
                        <th>Fin</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for schoolyear in schoolYears %}
                        <tr>
                            <td>{{ schoolyear.name }}</td>
                            <td>{{ schoolyear.startDate|date('Y-m-d') }}</td>
                            <td>{{ schoolyear.endDate|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}