{% extends 'base.html.twig' %}

{% block title %}Edit Professeur{% endblock %}

{% block body %}
    <h1>Edit Professeur</h1>

    {{ include('professeur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('professeur_index') }}">back to list</a>

    {{ include('professeur/_delete_form.html.twig') }}
{% endblock %}
